@import "tailwindcss";

*{
  font-family: Outfit;
}

@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;

  --font-outfit: "Outfit", "sans-serif";
  --font-ovo: "Ovo", "serif";

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}